.main-container {
  padding-top: 27px;
  padding-bottom: 32px;
}
.form__title {
  margin-bottom: 37px;
}

.form__description {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.form-style {
  border: none;
  margin: 0;
  padding: 0;
}

.form-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-contacts__title {
  margin-bottom: 35px;
}


.form__data-item {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-appeal__item {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
