.main-block {
  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .main-block {
      padding-left: 90px;
      padding-top: 55px;
      margin-bottom: 5px;
      min-height: 860px;
      text-align: left; } }
  @media (min-width: 1300px) {
    .main-block {
      min-height: 530px;
      padding-top: 55px;
      padding-left: 80px;
      margin-bottom: 80px; } }

.main-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  margin-bottom: 23px;
  margin-top: 0;
  color: #ffffff; }
  @media (min-width: 768px) {
    .main-block__title {
      font-size: 60px; } }
  @media (min-width: 768px) {
    .main-block__title {
      max-width: 520px;
      margin-bottom: 45px;
      text-align: left;
      color: #111111; } }

.main-block__product {
  display: block;
  margin: 0 auto 5px; }
  @media (min-width: 768px) {
    .main-block__product {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1; } }
  @media (min-width: 1300px) {
    .main-block__product {
      position: absolute;
      top: -25px;
      left: 50%;
      bottom: inherit;
      margin: auto;
      -webkit-transform: translateX(-34%);
              transform: translateX(-34%); } }

.main-block__tagline {
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0; }
  @media (min-width: 768px) {
    .main-block__tagline {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 45px;
      color: #111111; } }
  @media (min-width: 1300px) {
    .main-block__tagline {
      margin-bottom: 50px; } }

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  background: #68b738;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    background: #5eaa2f; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }
  .btn--light {
    background: #f2f2f2;
    color: #444444; }
    .btn--light:hover {
      background: #ebebeb; }
    .btn--light:active {
      color: rgba(17, 17, 17, 0.3); }
  .btn--small {
    font-size: 14px; }
    @media (min-width: 768px) {
      .btn--small {
        font-size: 20px;
        width: auto;
        padding: 16px 27px; } }
