.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }
  @media (min-width: 768px) {
    .programs {
      margin-left: -30px;
      margin-right: -30px; } }
  @media (min-width: 1300px) {
    .programs {
      margin-left: -40px;
      margin-right: -40px; } }

.programs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .programs__column {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1300px) {
    .programs__column {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      padding-left: 40px;
      padding-right: 40px; } }

.programs__ident {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .programs__ident {
      margin-bottom: 30px; } }

.programs__column:last-child .programs__ident {
  margin-bottom: 0; }

  .program {
    position: relative;
    background: #f2f2f2;
    padding: 40px 20px 20px; }
    @media (min-width: 768px) {
      .program {
        padding: 77px 315px 58px 52px; } }
    @media (min-width: 1300px) {
      .program {
        padding: 80px 55px 58px; } }

  .program__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 70px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .program__title {
        font-size: 36px; } }
    @media (min-width: 768px) {
      .program__title {
        padding-left: 0;
        margin-bottom: 25px; } }
    @media (min-width: 1300px) {
      .program__title {
        padding-left: 162px;
        margin-bottom: 70px; } }

  .program__link {
    position: relative;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 16px;
    color: #111111;
    background: #f2f2f2;
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .program__link::after {
      content: "";
      position: absolute;
      right: -28px;
      top: 50%;
      width: 37px;
      height: 12px;
      background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: -1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    @media (min-width: 768px) {
      .program__link {
        padding-right: 20px;
        font-size: 20px; } }
    .program__link:hover::after {
      right: -36px; }
    .program__link:active {
      opacity: 0.3; }

  .program__img {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 50px;
    background: #68b738;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .program__img {
        right: 60px;
        top: 90px;
        width: 200px;
        height: 200px; } }
    @media (min-width: 1300px) {
      .program__img {
        right: inherit;
        top: 45px;
        width: 100px;
        height: 100px; } }

  .program__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (min-width: 768px) {
      .program__icon--slim {
        top: 42%;
        width: 69%;
        height: 100%; }
      .program__icon--pro {
        width: 133%;
        height: 100%; } }

  .program__text {
    padding-bottom: 20px;
    margin-bottom: 19px;
    border-bottom: 1px solid #d9d9d9; }
    @media (min-width: 768px) {
      .program__text {
        padding-bottom: 27px;
        margin-bottom: 27px;
        border: none; } }
    @media (min-width: 1300px) {
      .program__text {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border: none; } }

  .program__text p {
    margin: 0;
    font-family: "Arial", "Tahoma", sans-serif; }
